In [0]:
import pandas as pd

c1 = '../content/drive/My Drive/Temp/tp_v01.txt'
c2 = '../content/drive/My Drive/Temp/tp_v02.txt'
c3 = '../content/drive/My Drive/Temp/tp_v02_filtra_dic.txt'

tp1 = pd.read_csv(c1, names=['Palavra','Caracteres','Tempo','Erros'])
tp2 = pd.read_csv(c2, names=['Palavra','Caracteres','Tempo','Erros'])
tp3 = pd.read_csv(c3, names=['Palavra','Caracteres','Tempo','Erros'])

In [145]:
tp1.head()

       Palavra  Caracteres     Tempo  Erros
0         aals           4  0.000740      3
1  abarticular          11  0.002715      9
2      abbotcy           7  0.002922     12
3  abecedarius          11  0.002889      8
4       abided           6  0.002347     12

In [146]:
erros = pd.concat([tp1['Erros'],tp2['Erros'],tp3['Erros']],axis=1)
erros.columns = ['v0.1','v0.2','v0.2f']
erros.describe().style.set_caption('TENTATIVAS SEM SUCESSO')

In [147]:
tempo = pd.concat([tp1['Tempo']*1000,tp2['Tempo']*1000,tp3['Tempo']*1000],axis=1)
tempo.columns = ['v0.1','v0.2','v0.2f']
tempo.describe().style.set_caption('TEMPO POR TENTATIVA (ms)')