In [0]:
import pandas as pd

c1 = '../content/drive/My Drive/Temp/tp_v01.txt'
c2 = '../content/drive/My Drive/Temp/tp_v02.txt'
c3 = '../content/drive/My Drive/Temp/tp_v02_filtra_dic.txt'

tp1 = pd.read_csv(c1, names=['Palavra','Caracteres','Tempo','Erros'])
tp2 = pd.read_csv(c2, names=['Palavra','Caracteres','Tempo','Erros'])
tp3 = pd.read_csv(c3, names=['Palavra','Caracteres','Tempo','Erros'])

In [141]:
tp1.head()

       Palavra  Caracteres     Tempo  Erros
0         aals           4  0.000740      3
1  abarticular          11  0.002715      9
2      abbotcy           7  0.002922     12
3  abecedarius          11  0.002889      8
4       abided           6  0.002347     12

In [142]:
erros = pd.concat([tp1['Erros'],tp2['Erros'],tp3['Erros']],axis=1)
erros.columns = ['v0.1','v0.2','v0.2f']
print('Tentativas sem sucesso')
erros.describe()

Tentativas sem sucesso

              v0.1         v0.2        v0.2f
count  3569.000000  3569.000000  3569.000000
mean      9.649201     9.472962     6.006164
std       3.981206     3.921942     2.064532
min       0.000000     0.000000     0.000000
25%       7.000000     7.000000     5.000000
50%       9.000000     9.000000     6.000000
75%      12.000000    12.000000     7.000000
max      23.000000    21.000000    14.000000

In [137]:
tempo = pd.concat([tp1['Tempo']*1000,tp2['Tempo']*1000,tp3['Tempo']*1000],axis=1)
tempo.columns = ['v0.1','v0.2','v0.2f']
print('Tempo por tentativa (ms)')
tempo.describe()

Tempo por tentativa (ms)

              v0.1         v0.2        v0.2f
count  3569.000000  3569.000000  3569.000000
mean      2.943584     2.656217     2.216223
std       1.120010     1.416458     1.549954
min       0.301700     0.305100     0.294600
25%       2.357200     1.791600     1.193500
50%       3.026900     2.689200     1.780400
75%       4.144100     3.393800     2.772700
max       7.210900    37.668700    18.384900