### **Teste de performance dos diferentes algoritmos**

In [0]:
import pandas as pd
pd.set_option("display.precision", 2)

c1 = '../content/drive/My Drive/Temp/tp_v01.txt'
c2 = '../content/drive/My Drive/Temp/tp_v02.txt'
c3 = '../content/drive/My Drive/Temp/tp_v02_filtra_dic.txt'

tp1 = pd.read_csv(c1, names=['Palavra','Caracteres','Tempo','Erros'])
tp2 = pd.read_csv(c2, names=['Palavra','Caracteres','Tempo','Erros'])
tp3 = pd.read_csv(c3, names=['Palavra','Caracteres','Tempo','Erros'])

#Converte em milisegundos
tp1['Tempo'] *= 1000
tp2['Tempo'] *= 1000
tp3['Tempo'] *= 1000



---

### **Formato do resultado de cada teste**

In [266]:
tp1.head()

       Palavra  Caracteres  Tempo  Erros
0         aals           4   0.74      3
1  abarticular          11   2.71      9
2      abbotcy           7   2.92     12
3  abecedarius          11   2.89      8
4       abided           6   2.35     12



---

### **Estatísticas de tentativas(letras) erradas**

In [267]:
erros = pd.concat([tp1['Erros'],tp2['Erros'],tp3['Erros']],axis=1)
erros.columns = ['v0.1','v0.2','v0.2f']
erros.describe()

          v0.1     v0.2    v0.2f
count  3569.00  3569.00  3569.00
mean      9.65     9.47     6.01
std       3.98     3.92     2.06
min       0.00     0.00     0.00
25%       7.00     7.00     5.00
50%       9.00     9.00     6.00
75%      12.00    12.00     7.00
max      23.00    21.00    14.00



---

### **Estatísticas de tempo de solução (ms)**

In [268]:
tempo = pd.concat([tp1['Tempo'],tp2['Tempo'],tp3['Tempo']],axis=1)
tempo.columns = ['v0.1','v0.2','v0.2f']
tempo.describe()

          v0.1     v0.2    v0.2f
count  3569.00  3569.00  3569.00
mean      2.94     2.66     2.22
std       1.12     1.42     1.55
min       0.30     0.31     0.29
25%       2.36     1.79     1.19
50%       3.03     2.69     1.78
75%       4.14     3.39     2.77
max       7.21    37.67    18.38



---

### **Mediana de tentativas erradas por número de caracteres da palavra**

In [269]:
e_tp1 = tp1.groupby('Caracteres')['Erros'].median()
e_tp2 = tp2.groupby('Caracteres')['Erros'].median()
e_tp3 = tp3.groupby('Caracteres')['Erros'].median()
e = pd.concat([e_tp1,e_tp2,e_tp3],axis=1)
e.columns = ['v0.1','v0.2','v0.2f']
e

            v0.1  v0.2  v0.2f
Caracteres
3           12.0  10.0    6.0
4           10.0  10.0    6.5
5           13.0  12.0    8.0
6           11.0  11.0    8.0
7           11.0  11.0    7.0
8           10.0  10.0    7.0
9            9.0   9.0    6.0
10           9.0   9.0    6.0
11           8.0   8.0    5.0
12           8.0   8.0    5.0
13           8.0   7.5    4.0
14           7.0   7.0    4.0
15           6.0   6.0    3.0
16           7.5   6.0    3.0
17           5.5   5.5    3.0
18           8.0   6.0    2.0
19           8.5   6.0    1.0
20           6.0   3.0    1.0
21           4.5   1.5    1.0
22           6.5   4.0    1.0
24           6.0   0.0    0.0



---

### **Mediana do tempo de solução por número de caracteres da palavra**

In [270]:
t_tp1 = tp1.groupby('Caracteres')['Tempo'].median()
t_tp2 = tp2.groupby('Caracteres')['Tempo'].median()
t_tp3 = tp3.groupby('Caracteres')['Tempo'].median()
t = pd.concat([t_tp1,t_tp2,t_tp3],axis=1)
t.columns = ['v0.1','v0.2','v0.2f']
t

            v0.1  v0.2  v0.2f
Caracteres
3           0.45  0.46   0.37
4           0.75  0.58   0.48
5           1.29  0.96   0.74
6           2.36  1.53   1.07
7           3.04  2.18   1.44
8           4.16  3.23   2.05
9           4.22  3.67   2.30
10          3.42  3.25   2.29
11          2.91  3.01   2.40
12          2.53  2.84   2.49
13          1.83  2.11   2.00
14          1.35  1.66   1.66
15          0.90  1.19   1.43
16          0.66  1.00   1.34
17          0.53  0.80   1.33
18          0.40  0.64   1.32
19          0.33  0.54   0.80
20          0.31  0.46   0.89
21          0.31  0.45   1.06
22          0.31  0.54   1.32
24          0.30  0.39   0.88